.tooltip-template {
    h2 {
        font-size: 16px;
    }
}

.pie-container {
    width: 800px;
    height: 600px;

    .pie-container .pie-label {
        font-size: 16px !important; /* Ajustez la taille ici */
         /* Ajustez la couleur ici */
        font-weight: bold; /* Ajustez l'épaisseur ici */
    }

    
    @media(max-width: 1042px) {
        width: 500px;
        height: 400px;
    }

    @media(max-width: 425px) {
        width: 350px;
    }
}